run/
bin/
build/
misc/
src/api/
*.jar
*.class
*.launch
.classpath
.project
.settings/
.gradle/
eclipse/
MinecraftForge-README.txt
Modding-README.txt
forge*changelog.txt
LICENSE-fml.txt
Paulscode*License.txt
MinecraftForge-License.txt
MinecraftForge-Credits.txt
CREDITS-fml.txt
